{
    "useTabs": false,
    "tabWidth": 4,
    "semi": true,
    "singleQuote": true,
    "proseWrap": "preserve",
    "printWidth": 100,
    "prettier.eslintIntegration": true,
    "prettier.stylelintIntegration": true

}
